body {
    padding: 50px 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.item {
    border: 2px solid #000;
    background-color: rgb(106, 167, 106);
    color: #fff;
    padding: 15px;
}

.box {
    display: grid;
    grid-template-columns: [one] 400px [two] 300px [item3] 350px [item4];
    grid-template-rows: 50px 100px 150px;
    grid-auto-rows: 125px;
    grid-auto-flow: dense;
    gap: 15px 30px;

}

.item-1 {
    /* grid-column-start: span 2;
    grid-row-start: span 2; */
    grid-row: 1/ span 2;
    grid-column: item3/one;
}

.item-2 {
    grid-column: span 2;
}

.item-3 {
    grid-column: 2/4;
}

/* .wrapper {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer";
}

.wrapper-item {
    border: 3px solid #000;
    height: 200px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}
 */
