body {
    padding: 50px 100px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.item {
    border: 1px solid #000;
    background-color: green;
    color: #fff;
    padding: 15px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr;
}